.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
@font-face{
    font-family: 'Cascadia Code';
    src: url('./CascadiaCode/woff2/CascadiaCode.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePL.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePLItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMono.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPL.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPLItalic.woff2'),
    url('./CascadiaCode/ttf/CascadiaCode.ttf');
}
body{
    background-color: #EBEBEB;
    /* font-family: sans-serif; */
    color: #131e3f;
    font-family: 'Cascadia Code', sans-serif;
    /* border-top: #b49090; */
    /* border-top-width: 40px; */
    border-top-style: solid;
    margin: 0%;

}
/* header, nav, main, footer, .subpages {
    margin-bottom: 20px;
} */
header{
    display: flexbox;
    justify-content: space-between;
    text-align: center;
    font-size: 80%;
    /* display: none; */
    margin-top: 3%;
}
/* Computer & Tablet first styles */
@media (min-width: 600px) { /* For tablets and larger */
/* The navigation bar */

nav {
    display: flex;
    justify-content: space-evenly;
    float: right;
    /* position: fixed; */
    /* padding-left: 80%; */
    margin: 0%;
    margin-right: 5%;
    cursor: pointer;
}
.menu-icon{
    display: none;
}
nav ul{
    /* background-color: rgba(180, 144, 144, 0.81); */
    border-radius: 10px;
    padding: 10% 20% 10% 10%;
}
nav ul li{
    list-style-type: none;
    font-weight: 100;
    padding: 20% 0% 20% 0%;
    /* color: white; */
    color: #131e3f;
}
#email{
    font-weight: 600;
}
.subpages {
    all: unset;
    text-decoration: none;
}
/* main intro. */
.blogs-catalogue{
    width: 80%;
    margin-bottom: 100%;
    .blog-card{
        margin-top: 1%;
        font-size: 75%;
        display: inline;
        float: left;
        width: 100%;
        border-bottom-style: solid;
        border-width: 0.75px;
        padding: 2%;
        .blog-text{
            width: 60%;
            display: inline;
            float: left;
            .tool-icon{
                margin: 10% 0%;
                img{
                    width: 10%;
                }
            }
            a{
                text-decoration: none;
                color: #131e3f;
            }
        }
        .blog-pic{
            width: 35%; /* Desired width */
            height: 300px; /* Desired height */
            overflow: hidden; /* Hide overflow */
            position: relative;
            border-radius: 10px;
            z-index: -2;
            display: inline;
            float: right;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover; /* Crop the image */
                object-position: left;
            }
        }
        
    }
}

.all-works{
    text-align: center;
    width: 100%;
    margin-top: 20%;
    /* margin-bottom: 10%; */
    display: inline-block;
    a{
        background-color: #131e3f;
        text-decoration: none;
        color: #EBEBEB;
        border-radius: 10px;
        padding: 2%;
    }
}

.footer{
    text-align: center;
    padding-bottom: 10%;
    margin-top: 10%;
    hr{
        display: block;
    }
    p{
        display: block;
        float: right;
        margin: 2% 0% 0% 0%;
        width: 100%;
        text-align:center;
        a{
            margin: 0% 2%;
        }
    }
}
}
    
