.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
@font-face{
    font-family: 'Cascadia Code';
    src: url('./CascadiaCode/woff2/CascadiaCode.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePL.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePLItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMono.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPL.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPLItalic.woff2'),
    url('./CascadiaCode/ttf/CascadiaCode.ttf');
}
body{
    background-color: #EBEBEB;
    /* font-family: sans-serif; */
    color: #131e3f;
    font-family: 'Cascadia Code', sans-serif;
    /* border-top: #b49090; */
    /* border-top-width: 40px; */
    border-top-style: solid;
    margin: 0%;

}
/* header, nav, main, footer, .subpages {
    margin-bottom: 20px;
} */
header{
    display: flexbox;
    justify-content: space-between;
    text-align: center;
    font-size: 80%;
    /* display: none; */
    margin-top: 3%;
}
/* Computer & Tablet first styles */
@media (min-width: 600px) { /* For tablets and larger */
/* The navigation bar */
nav {
    display: flex;
    justify-content: space-evenly;
    float: right;
    /* position: fixed; */
    /* padding-left: 80%; */
    margin: 0%;
    margin-right: 5%;
    cursor: pointer;
}
.menu-icon{
    display: none;
}
nav ul{
    /* background-color: rgba(180, 144, 144, 0.81); */
    border-radius: 10px;
    padding: 10% 20% 10% 10%;
}
nav ul li{
    list-style-type: none;
    font-weight: 100;
    padding: 20% 0% 20% 0%;
    /* color: white; */
    color: #131e3f;
}
#email{
    font-weight: 600;
}
.subpages {
    all: unset;
    text-decoration: none;
}
/* main intro. */
.profile-section{
    margin-top: 5% ;
    display: flex;
    width: 70%;
    height:600px;
    .headshot {
        /* background-color: #472525; */
        img{
            border-radius: 10px;
            display: flex;
            float: left;
            height: 92%;
        }
    }
    .aboutMe-main{
        display: flexbox;
        margin-left: 5%;
        h1{
            font-size: 400%;
            margin: 0%;
            text-wrap:wrap;
        }
        p{
            text-wrap:wrap;
            margin: 0%;
            font-size: 80%;
        }
        /* background-color: #b49090; */
    }
    
}
.job-history{
    display: block;
    h1{
        text-align: center;
        margin-top: 5%;
    }
    .gradient-circle{
        position:absolute;
        top: 150%;
        right:1%;
        left: 1%;
        /* width: 100%;
        height: 100%; */
        /* background-color: rgba(0,0,0,0.7); */
        /* display: none; */
        text-align: center;
        justify-content: center;
        z-index: -2;
        p{
            display: inline;
            vertical-align: middle;
        }
        #myCanvas, #myCanvas-2, #myCanvas-3, #myCanvas-4, #myCanvas-5, #myCanvas-6, #myCanvas-7{
            margin-right: 1.5%;
        }
    }
    .history-card{
        height: 180px;
        width: 80%;
        .Experience{
            .company, .time{
                width: 50%;
                display: inline;
                float: left;
                text-align: right;
                margin-right: 5%;
            };
            .role, .skills{
                display: inline;
                text-align: left;
                width: 50%;
            }
            .time, .skills{
                height: 100px;
            }
            .company-role{
                height: 50px;
            }
            .skills{
                font-size: 80%;
            } 
        }
    }
}
.Quali-history{
    margin-top: 5%;
    h1{
        margin-top: 5%;
        margin-bottom: 0%;
        text-align: center;
    }
    .badge-catalog{
        .badge-row{
            text-align: center;
            display: inline-block;
            .badge-card{
                width: 33.3%;
                display: inline;
                float: left;
                padding-top: 5%;
                .badge-text{
                    display: inline;
                    p{
                        font-size: 70%;
                        a{
                            text-decoration: none;
                            color: #131e3f;
                            text-decoration: underline dotted;
                        }
                    }
                }
                .badge{
                    display: inline;
                    padding: 10%;
                }
            }
        }
    }
}
.all-works{
    padding-top: 15%;
    text-align: center;
    a{
        background-color: #131e3f;
        text-decoration: none;
        color: #EBEBEB;
        border-radius: 10px;
        padding: 2%;
    }
}
.footer{
    margin-top: 10%;
    text-align: center;
    padding-bottom: 10%;
    cursor: pointer;
    hr{
        display: block;
    }
    p{
        display: block;
        float: right;
        margin: 2% 0% 0% 0%;
        width: 100%;
        text-align:center;
        a{
            margin: 0% 2%;
        }
    }
}
/* no more code beyond here */
}

/* For desktops */
/* Additional styles for larger screens */
@media (min-width: 1024px) {
main {
    display: flex;
    justify-content: space-between;
}
}

/* For phones */
/* Additional styles for mobile screens */
@media (max-width:600px) { 
    header{
        display: block;
        justify-content: space-between;
        text-align: left;
        font-size: 150%;
        width: 30%;
        margin: 10% 5% 0% 5% ;

    }
    .topnav-hr{
        display: none;
    }
    .topnav{
        height: fit-content;
        nav {
            padding-right:10% ;
            .menu-icon {
                display: block;
                cursor: pointer;
                position: fixed;
                top:100px;
                background-color: #b49090;
                padding: 2%;
                border-radius: 10px;
                margin-left: 80%;
                color: #EBEBEB;
            }
            .nav-links {
                display: none;
                flex-direction: column;
                width: 30%;
                background-color:rgba(180, 144, 144, 0.9);
                position: fixed;
                top: 130px;
                left: 0;
                margin-left: 47%;
                border-radius: 10px;
            }
        
            .nav-links li {
                text-align: center;
                margin: 10px 0;
                list-style-type:none;
                text-align: right;
                margin-right: 10%;
                a{
                    text-decoration: none;
                    color:#EBEBEB;
                }
                #email {
                    font-weight: 900;
                }
    
            }
        
            .nav-links.active {
                display: flex;
            }
        }
    }
    
/* main intro. */
.profile-section{
    display: inline;
    width: 70%;
    height:600px;
    justify-content: center;

    .headshot {
        width: 100%; /* Desired width */
        height: 500px; /* Desired height */
        overflow: hidden; /* Hide overflow */
        position: relative;
        border-radius: 10px;
        z-index: -2;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover; /* Crop the image */
            object-position: center;
        }
    }
    .aboutMe-main{
        display: inline;
        margin-left: 5%;
        h1{
            font-size: 400%;
            margin: 0%;
            text-wrap:wrap;
        }
        p{
            text-wrap:wrap;
            margin: 0%;
            font-size: 80%;
            padding-bottom: 10%;
        }
        /* background-color: #b49090; */
    }
}
.job-history{
    display: block;
    h1{
        text-align: center;
        margin-top: 10%;
    }
    .line{
        margin-top: 10%;
        text-align: center;
    }
    .gradient-circle{
        position:absolute;
        top: 170%;
        right:1%;
        left: 1%;
        /* width: 100%;
        height: 100%; */
        /* background-color: rgba(0,0,0,0.7); */
        /* display: none; */
        text-align: center;
        justify-content: center;
        z-index: -2;
        #myCanvas, #myCanvas-2, #myCanvas-3, #myCanvas-4, #myCanvas-5, #myCanvas-6, #myCanvas-7{
            margin-top: 5%;
        }
    }
    .history-card{
        height: 180px;
        width: 80%;
        .Experience{
            .company, .time{
                width: 50%;
                display: inline;
                float: left;
                text-align: right;
                margin-right: 5%;
            };
            .role, .skills{
                display: inline;
                text-align: left;
                vertical-align: top;
                width: 50%;
            }
            .time-skills{
                display: inline-block;
                padding-top: 2% ;
            }
            .company{
                height: 30px;
            }
            .role{
                font-size: 85%;
            }
            .time{
                font-size: 80%;
                height: 130px;
                margin-top: 5%;
            }
            .skills{
                font-size: 80%;
                vertical-align: top;
            } 
        }
    }
}
.Quali-history{
    margin-top: 15%;
    h1{
        margin-top: 10%;
        margin-bottom: 0%;
        text-align: center;
    }
    .badge-catalog{
        .badge-row{
            text-align: center;
            display: inline-block;
            .badge-card{
                width: 33.3%;
                display: inline;
                float: left;
                padding-top: 5%;
                .badge-text{
                    display: inline;
                    h3{
                        height: 70px;
                    }
                    p{
                        font-size: 70%;
                        a{
                            text-decoration: none;
                            color: #131e3f;
                            text-decoration: underline dotted;
                        }
                    }
                }
                .badge{
                    display: inline;
                    padding: 10%;
                }
                #google-logo{
                    width: 50%;
                }
            }
        }
    }
}
#school-card{
    height: 250px;
}
#school-skills{
    font-size: 60%;
}
.all-works{
    padding-top: 30%;
    text-align: center;
    a{
        background-color: #131e3f;
        text-decoration: none;
        color: #EBEBEB;
        border-radius: 10px;
        padding: 2%;
    }
}

.footer{
    text-align: center;
    padding-bottom: 10%;
    margin-top: 10%;
    hr{
        display: block;
    }
    p{
        display:none;
        margin: 2% 0% 0% 0%;
        width: 100%;
        text-align:center;
        a{
            margin: 0% 3%;
            text-decoration: none;
        }
    }
}
    
}
    
