.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
@font-face{
    font-family: 'Cascadia Code';
    src: url('./CascadiaCode/woff2/CascadiaCode.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePL.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePLItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMono.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPL.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPLItalic.woff2'),
    url('./CascadiaCode/ttf/CascadiaCode.ttf');
}
body{
    background-color:rgb(149, 54, 64);
    background-size: cover; /* Ensure the image covers the entire body */
    background-position: center;
    position: relative; /* Ensure the pseudo-element is positioned relative to the body */

    /* font-family: sans-serif; */
    color:white;
    font-family: 'Cascadia Code', sans-serif;
    /* border-top: #b49090; */
    /* border-top-width: 40px; */
    border-top-style: solid;
    margin: 0%;
}

/* header, nav, main, footer, .subpages {
    margin-bottom: 20px;
} */
header{
    display: flexbox;
    justify-content: space-between;
    text-align: center;
    font-size: 80%;
    /* display: none; */
    margin-top: 5%;
}
/* Computer & Tablet first styles */
@media (min-width: 600px) { /* For tablets and larger */
    /* The navigation bar */
.chunk01-Intro{
    height: 100%;
    margin-bottom: 30%;
    padding: 10%;
    .intro-box{
        margin-top: 2%;
        display: inline;
        float: right;
        width: 40%;
        border-style: solid;
        border-width: 0.75px;
        padding: 2%;
        border-radius: 10px;
    }
}

.chunk02-travel, .chunk03-AnC, .chunk04-food{
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    h1{
        font-size: 900%;
        margin-top: 10%;
    }
    .travel-catalogue{
        overflow-x: scroll;
        scrollbar-width:none ;
        height: 600px;
        display: flex;
        .travel-card{
            text-align: center;
            display: inline;
            float: left;
            width: 400px;
            height: 500px;
            border-style: solid;
            border-width: 0.75px;
            border-radius: 10px;
            margin-right: 2%;
            padding: 2%;
            h2{
                margin: 0%;
                font-size: 250%;
                text-align: left;
                height: 40%
            }
            p{
                text-align: left;
                height: 20%
            }
            img{
                width: 300px;
                border-radius: 10px;
            }
        }
    }
}
.chunk03-AnC{
    background-image:url('./non-tech-image/PXL_20240907_085803167.jpg');
    background-size: cover;
}
.chunk02-travel{
    background-image: url('./non-tech-image/PXL_20240617_134404461.jpg');
}
.chunk04-food{
    background-image:url('https://media.cntraveller.com/photos/634d634df774a8ab1b881107/16:9/w_5472,h_3078,c_limit/Borough%20MarketE6BC30.jpeg');
    background-size: cover;
}
.subpagesMenu{
    display: none;
}
.navi-menu{
    margin-bottom: 0%;
}

.all-works{
    text-align: center;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 5%;
    display: inline-block;
    a{
        /* background-color: #131e3f; */
        text-decoration: none;
        color: #EBEBEB;
        border-radius: 10px;
        padding: 2%;
    }
}

.navi-menu, .footer{
    text-align: center;
    padding-bottom: 5%;
    hr{
        display: block;
    }
    h3{
        display: inline;
        float: center;
        margin: 0%;
        width: 30%;
        text-align: left;
        font-size: 90%;
    }
    p{
        display: block;
        float: right;
        margin: 2% 0% 0% 0%;
        width: 100%;
        text-align:center;
        a{
            margin: 0% 2%;
            text-decoration: none;
            color:#EBEBEB;
        }
    }
}

}
    
