.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
@font-face{
    font-family: 'Cascadia Code';
    src: url('./CascadiaCode/woff2/CascadiaCode.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodeNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePL.woff2'),
    url('./CascadiaCode/woff2/CascadiaCodePLItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMono.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNF.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoNFItalic.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPL.woff2'),
    url('./CascadiaCode/woff2/CascadiaMonoPLItalic.woff2'),
    url('./CascadiaCode/ttf/CascadiaCode.ttf');
}
body{
    background-color: #EBEBEB;
    /* font-family: sans-serif; */
    color: #131e3f;
    font-family: 'Cascadia Code', sans-serif;
    /* border-top: #b49090; */
    /* border-top-width: 40px; */
    border-top-style: solid;
    margin: 0%;

}
/* header, nav, main, footer, .subpages {
    margin-bottom: 20px;
} */
header{
    display: flexbox;
    justify-content: space-between;
    text-align: center;
    font-size: 80%;
    /* display: none; */
    margin-top: 3%;
}
/* Computer & Tablet first styles */
@media (min-width: 600px) { /* For tablets and larger */
/* The navigation bar */

nav {
    display: flex;
    justify-content: space-evenly;
    float: right;
    /* position: fixed; */
    /* padding-left: 80%; */
    margin: 0%;
    margin-right: 5%;
    cursor: pointer;
}
.menu-icon{
    display: none;
}
nav ul{
    /* background-color: rgba(180, 144, 144, 0.81); */
    border-radius: 10px;
    padding: 10% 20% 10% 10%;
}
nav ul li{
    list-style-type: none;
    font-weight: 100;
    padding: 20% 0% 20% 0%;
    /* color: white; */
    color: #131e3f;
}
#email{
    font-weight: 600;
}
.subpages {
    all: unset;
    text-decoration: none;
}
/* main intro. */
.works-catalogue{
    width: 80%;
    display: block;
    margin-bottom: 100%;
    height: 100%;
    .work-card-1, .work-card-2, .work-placeholder_1, .work-placeholder_2{
        margin-top: 5%;
        font-size: 75%;
        display: inline;
        float: left;
        width: 25%;
        height: 400px;
        border-style: solid;
        border-width: 1px;
        padding: 3%;
        border-radius: 10px;
        h1{
            height: 40%;
        }
        p{
            height: 35%;
        }
        .tool-icon{
            margin: 0% 0% 0% 0%;
            height: 12%;
            img{
                height: 50%;
                padding-right: 5%;
            }
        }
        a{
            text-decoration: none;
            color:#EBEBEB;
            padding: 3%;
            background-color: #131e3f;
            border-radius: 5px;
        }
    }
    .work-card-2, .work-placeholder_2{
        margin-left: 2%;
    }
    .work-placeholder_1, .work-placeholder_2{
        border-style: 1px;
        border-color: #EBEBEB;
        background: linear-gradient(to bottom, rgba(255, 255, 0, 0.356), #EBEBEB);
    }
}

.all-works{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 10%;
    a{
        background-color: #131e3f;
        text-decoration: none;
        color: #EBEBEB;
        border-radius: 10px;
        padding: 2%;
    }
}

.footer{
    margin-top: 10%;
    text-align: center;
    padding-bottom: 10%;
    hr{
        display: block;
        margin-top: 10%;
    }
    p{
        display: block;
        float: right;
        margin: 2% 0% 0% 0%;
        width: 100%;
        text-align:center;
        a{
            margin: 0% 2%;
        }
    }
    h4{
        padding-top: 5%;
        font-size: 70%;
    }
}
}

/* For desktops */
/* Additional styles for larger screens */
@media (min-width: 1024px) {
    main {
        display: flex;
        justify-content: space-between;
    }
    }

/* For phones */
/* Additional styles for mobile screens */
@media (max-width:600px) {
    header{
        display: block;
        justify-content: space-between;
        text-align: left;
        font-size: 150%;
        width: 30%;
        margin: 10% 5% 0% 5% ;

    }
    .topnav{
        height: fit-content;
        nav {
            padding-right:10% ;
            .menu-icon {
                display: block;
                cursor: pointer;
                position: fixed;
                top:85px;
                background-color: yellow;
                padding: 2%;
                border-radius: 10px;
                margin-left: 80%;
                color:#131e3f;
            }
            .nav-links {
                display: none;
                flex-direction: column;
                width: 30%;
                background-color:yellow;
                position: fixed;
                top: 110px;
                left: 0;
                margin-left: 45%;
                border-radius: 10px;
            }
        
            .nav-links li {
                text-align: center;
                margin: 10px 0;
                list-style-type:none;
                text-align: right;
                margin-right: 10%;
                a{
                    text-decoration: none;
                    color:#131e3f;
                }
                #email {
                    font-weight: 900;
                }
    
            }
        
            .nav-links.active {
                display: flex;
            }
        }
    }
    /* main intro. */
    .works-catalogue{
        width: 100%;
        display: block;
        margin-bottom: 100%;
        .work-card-1, .work-card-2{
            margin-top: 5%;
            font-size: 75%;
            display: block;
            /* float: left; */
            /* width: 100%; */
            border-style: solid;
            border-width: 1px;
            padding: 3%;
            padding-bottom: 5%;
            border-radius: 10px;
            height: 300px;
            .tool-icon{
                margin: 8% 0% 8% 0%;
                height: 10%;
                img{
                    width: 8%;
                    padding-right: 3%;
                }
            }
            h1{
                height: 20%;
            }
            p{
                height: 30%;
            }
            a{
                text-decoration: none;
                color:#EBEBEB;
                padding: 2%;
                background-color: #131e3f;
                border-radius: 5px;
            }
        }
    }
    
    .all-works{
        text-align: center;
        width: 100%;
        margin-bottom: 10%;
        a{
            background-color: #131e3f;
            text-decoration: none;
            color: #EBEBEB;
            border-radius: 10px;
            padding: 2%;
        }
    }
    
    .footer{
        margin-top: 10%;
        text-align: center;
        padding-bottom: 10%;
        hr{
            display: block;
        }
        p{
            display: none;
            float: right;
            margin: 2% 0% 0% 0%;
            width: 100%;
            text-align:center;
            a{
                margin: 0% 2%;
            }
        }
        h4{
            padding-top: 5%;
            font-size: 70%;
        }
    }
    }


